<img src="<?php echo base_url(); ?>docs/article-pictures/art1_001.jpg"class="content-images content-images-left">
<p>
	Selamat Siang, Pecinta Hidroponik!
	<br><br>
	Dalam postingan kali ini saya akan berbagi mengenai cara menanam tomat secara hidroponik dalam botol bekas. Cukup menarik, bukan?
	<br><br>
	Rada aneh memang, walau masyarakat cenderung menyebutnya buah, sebenarnya tomat masuk dalam kategori sayuran. Tanaman berwarna menggoda ini masuk dalam famili Solanacea, yang masih berkerabat dengan terong kentang dan cabai.
	<br><br>
	Yang akan kita bahas pada artikel Menanam Tomat Secara Hidroponik dalam Botol Bekas kali ini adalah Tomat Ceri, salah satu dari kurang lebih empat ratus varietas berbeda yang masing-masing memiliki keunggulan dan tumbuh dalam lingkungan yang berbeda .
	<br><br>
	Tanaman yang dikenal dengan istilah latih Solanum Licopersicum, varietas Cerasiforme ini berasal dari Peru dan Chile bagian utara. Mulai terkenal sekitar tahun seribu delapan ratusan. Tomat Ceri bisa tumbuh baik pada dataran tinggi dengan ketinggian 600 sampai dengan 1800 mdpl.
	<br><br>
	Tomat Ceri merupakan salah satu  tanaman yang jarang dibudi-dayakan secara konvensional. Sehingga banyak yang menanamnya dalam green house, maupun secara hidroponik. .
	<br><br>
	Pada beberapa tulisan yang lalu, saya sudah berjanji untuk sharing cara bertanam hidroponik dengan sistim sumbu. Sistim Wick termasuk yang paling banyak dilakukan para pemula karena cukup sederhana dan relatif murah. kebetulan, tulisan seputar menanam tomat secara hidroponik dalam botol bekas kali ini, akan menggunakan system wick atau sistim sumbu.
	<br><br>
	Untuk praktek Menanam Tomat Secara Hidroponik dalam Botol Bekas, kita akan memanfaatkan bekas botol kamasan air mineral ukuran 1 liter. Akan lebih baik lagi jika sahabat memiliki botol mineral yan lebih besar; ukuran 1,5 atau 2 liter. Mengingat saat usia tanaman makin besar - kebutuhan nutrisinya juga lebih banyak. Hingga tidak perlu sering-sering harus mengontrol dan menambah cairannya.
	<br><br>
	Sekarang, kita sampai pada inti bahasan kita untuk menanam tomat secara hidroponik dalam botol bekas
</p>
<h3>Alat yang dibutuhkan</h3>
<ul>
	<li>Pisau cutter atau gunting</li>
	<li>Paku</li>
	<li>Kompor atau lilin untuk memanaskan paku</li>
</ul>
<h3>Bahan yang dibutuhkan</h3>
<img src="<?php echo base_url(); ?>docs/article-pictures/art1_002.jpg" class="content-images content-images-left">
<ol>
	<li>
		<b>Botol plastik bekas air kemasan</b>
		<p>Sahabat bisa menggunakan bekas air mineral atau jus, yang penting sesuaikan dengan ukuran tanaman yang akan anda tanam.</p>
	</li>
	<li>
		<b>Sumbu</b>
		<p>Berguna sebagai pengantar untuk mengantarkan air dan nutrisi dari pada akar. Usahakan bahan yang memiliki daya serap tinggi. Saya menyarankan sumbu dari bahan kain flannel. Jika kesulitan bisa diganti dengan kaus kaki bekas.</p>
	</li>
	<br>
	<li>
		<b>Sekam Bakar</b>
		<p>Sebagai media tanam, sekam bakar merupakan media hidroponik yang murah dan mudah didapat disamping mempunyai daya simpan air yang tinggi.</p>
	</li>
	<li>
		<b>Nutrisi Hidroponik</b>
		<p>Saya menggunakan nutrisi siap pakai, AB Mix yg sudah dicampur air berbentuk konsentrat. Campur konsentrat dengan perbandingan 5cc masing-masing (A+B) dalam 1 liter air.</p>
	</li>
	<li>
		<b>Tanaman</b>
		<p>Karena kita akan bercocok tanam tentu saja kita butuh tanaman. Untuk proyek kali ini saya menanam tomat ceri asal dari benih yang sudah saya semai sebelumnya dalam campuran tanah dan kompos sampai kurang lebih usia tiga minggu.</p>
	</li>
</ol>
<h3>Langkah Pembuatan</h3>
<img src="<?php echo base_url(); ?>docs/article-pictures/art1_003.jpg" class="content-images content-images-left" style="margin-bottom: 20px;">
<ol>
	<li>Potong botol kemasan mineral jadi dua bagian. Bagian bawah berfungsi sebagai wadah nutrisi, sedang bagian atas sebagai wadah media tanam dan tanaman.</li>
	<li>Beri lubang pada tutup botol dan bagian kepala botol sebagai tempat sumbu. Tambahkan juga beberapa lubang sebagai aerasi, guna menyediakan oksigen bagi akar tanaman.</li>
	<li>Pasang sumbu pada lubang yang tersedia.</li>
	<li>Tempatkan potongan botol bagian atas pada botol bagian bawah/wadah nutrisi.</li>
	<li>Tempatkan tanaman pada kepala botol, pastikan akar tanaman menyentuh sumbu. Tambahkan arang sekam perlahan, hingga sebagian batang tanaman terkubur.</li>
	<li>Tuang campuran air dan nutrisi perlahan dari bagian atas melalui media tanam. Pastikan permukaanya merendam sebagian kepala botol.</li>
	<li>Tomat ceri bisa tumbuh outdoor maupun indoor spti di samping jendela yang masih dapat masukan cahaya. Jika diletakkan diluar ruangan, pastikan bagian botol bawah yang menampung nutrisi terlindung dari matahari langsung. Gunakan lakban warna gelap untuk melindungi bagian luar botol.</li>
</ol>
<p>
	Demikian tulisan pendek, tentang cara menanam tomat secara hidroponik dalam botol bekas. Insya-Allah saya akan update pertumbuhannya pada tulisan berikutnya. Semoga bermanfaat. Jika ada pengalaman pribadi atau pertanyaan, silahkan sampaikan pada kolom komentar.
</p>
<br>
Selamat mencoba.